.header{
    background: rgb(70, 181, 255);
    width: 100%;
    height: 4.25rem;
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;

    .logo-holder {
        width: 3rem;
        padding: .25rem 0 .25rem .25rem;
    }

    .route {
      padding: 10px 10px;
    }

    .arrow:after{
        content: ' \21AF';
    }

    .routes{
        width: 59%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }

    .edge{
        width: 17%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        padding: 0px 10px;
    }


    @media only screen and (max-width: 760px){
        a{
          font-size: 10px;
        }
      }
}

