.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

#page{
  position: relative;
  min-height: 100vh;
}

#footer{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2.5rem;
}


a, ul{
  font-size: 16px;
  text-decoration: none;
  color: rgb(85, 0, 195);
  font-weight: 600;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.open-btn{
  width: 90%;
  max-width: 800px;
  margin: auto;
}

.centered{
  text-align: center;
}

.middle{
  margin: auto;
}

.input-width{
  width: 80%;
  margin: auto;
}

.size-holder{
  width: 93%;
  max-width: 830px;
}

.full-button{
  width: 90%;
  max-width: 800px;
  margin: auto;
}

.border{
  border-style: solid;
  border-color: rgb(0, 21, 44);
  background-color: rgb(214, 206, 255);
  margin: auto;
  width: 90%;
  max-width: 800px;
}

.today-border{
  height: 20vw;
  border-style: solid;
  border-color: black;
  background-color: rgb(111, 255, 123);
}

.day-border{
  height: 20vw;
  border-style: solid;
  border-color: black;
  background-color: rgb(207, 181, 255);
}

.day-label-border{
  height: 5.2vw;
  border-style: solid;
  border-color: black;
  background-color: rgb(207, 181, 255);
}

.inner-border-left{
  height: 100%;
  border-style: solid hidden solid solid;
  border-color: black;
  background-color: rgb(255, 255, 255);
  border-width: 2px;
  text-align: center;
}

.inner-border-right{
  height: 100%;
  border-style: solid solid solid solid;
  border-color: black;
  background-color: rgb(255, 255, 255);
  border-width: 2px;
  text-align: center;
}

.inner-border-left-header{
  height: 100%;
  border-style: solid hidden solid solid;
  border-color: black;
  background-color: rgb(228, 188, 255);
  border-width: 2px;
  text-align: center;
}

.inner-border-right-header{
  height: 100%;
  border-style: solid;
  border-color: black;
  background-color: rgb(228, 188, 255);
  border-width: 2px;
  text-align: center;
}

.grid-text{
  line-height: 0;
  font-size: 10px;
}

.grid-header-text{
  line-height: 0;
  font-size: 16px;
}

.danger{
  background-color: rgb(165, 2, 2);
  color: white;
  margin: auto;
  width: 100%;
  max-width: 800px;
  line-height: 200%;
}

.flex { 
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.label-holder{
  position: relative;
  width: 78.6%;
  margin: auto;
}

.label{
  position: absolute;
  margin: 0;
  top: -18px;
  left: 0;
  font-size: 12px;
}

.grid100 { 
  display: grid;
  grid-template-columns: 100%;
}

.grid50 { 
  display: grid;
  grid-template-columns: 50% 50%;
}

.grid50-colapse { 
  display: grid;
  grid-template-columns: 50% 50%;
}

.grid50-to-100 { 
  display: grid;
  grid-template-columns: 50% 50%;
}

.grid33 { 
  display: grid;
  grid-template-columns: 33.33% 33.33% 33.33%;
}

.grid-one-employee { 
  display: grid;
  grid-template-columns: 20% 40% 40%;
}

.grid-all-employees { 
  display: grid;
  grid-template-columns: 27% 17% 28% 28%;
}

.grid-one-employee-button { 
  display: grid;
  grid-template-columns: 75% 25%;
}

.grid-all-employees-button { 
  display: grid;
  grid-template-columns: 80% 20%;
}

.grid7split { 
  display: grid;
  grid-template-columns: 14.289% 14.289% 14.289% 14.289% 14.289% 14.289% 14.289%;
}

.sized30{
  width: 30.2%;
  margin: 17px 1.5% 17px 1.5%;
}

.spaced{
  margin: 25px 5% 35px 5%;
}

.form-button{
  margin: 25px 0 35px 0;
}

.top{
  margin: 0px 0px 3% 3%;
}

.date{
  margin: 10% 10% 10% 10%;
}

.month-input{
  height: 42px;
}

.label-text{
  margin: 15px 7px 0px 7px;
  font-weight: bold;
  color: rgb(53, 10, 124);
  font-size: 1.8vw;
}

input.ng-invalid.ng-touched {
  border: 1px solid red;
}

h1,h2,h3{
  line-height: 120%;
  font-weight: bold;
}

h3{
  font-size: 22px;
}

@media only screen and (max-width: 915px){
  .btn{
      font-size: 80%;
  }
  
  .sized30{
      width: 40%;
      margin: 17px 5% 17px 5%;
  }

  .grid50-to-100 { 
    display: grid;
    grid-template-columns: 100%;
  }
}

@media only screen and (max-width: 768px) {
  .top{
      margin: 0px 0px 3% 11.5%;
  }
  
  .sized30{
      width: 85%;
      margin: 17px 7.5% 17px 7.5%;
  }

  .day-label-border{
      height: 35px;
  }
  
  .label-text{
      font-size: 10px;
  }
}


@media only screen and (max-width: 570px) {
  .grid50-colapse{
      grid-template-columns: 100%
  }

  .grid-text{
    font-size: 11px;
  }
  
  .grid-header-text{
    font-size: 14px;
  }
}

@media only screen and (min-width: 1000px) {
  .day-label-border{
      height: 52px;
  }
  
  .label-text{
      font-size: 18px;
  }

  .today-border{
      height: 200px;
  }
  
  .day-border{
      height: 200px;
  }
}

@media only screen and (min-width: 1700px) {
  .sized30{
      width: 20%;
      margin: 17px 2.5% 17px 2.5%;
  }
}